.idea
.vscode
.ngcvenv
.testervenv
.venv
.vscode
*.DS_Store
*__pycache__
*.json
*.log
*.rdb
*.0
# These just contain logging files
/data/json
/data/logs
/data/pm2
# This is just a bot todo list file
/data/txts/todo.txt
# Work in progress
/a
/aaaaa
/aaaaa-master
roo.py

