.idea
.vscode
.ngcvenv
.testervenv
.vscode
*.DS_store
*__pycache__
*.0
*.json
*.log
*.txt
# This is a testing cog for trying out new commands.. 
/cogs/testing.py
# This just manages the loading and unloading of the cogs but contains some sensitive data
/cogs/manager.py
