aiohttp==3.8.4
aiosignal==1.3.1
aiosmtplib==2.0.2
async-timeout==4.0.2
asyncpg==0.27.0
attrs==23.1.0
better-profanity==0.7.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
dateutils==0.6.12
discord-ext-menus==1.0.0a29+g4429b56
discord.py @ git+https://github.com/Rapptz/discord.py@66155faf00cfb3d7cfc976c834d85e336c206505
frozenlist==1.3.3
geographiclib==2.0
geopy==2.3.0
humanize==4.7.0
idna==3.4
multidict==6.0.4
objgraph==3.6.0
parsedatetime==2.6
Pillow==10.0.0
psutil==5.9.5
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
timeago==1.0.16
Unidecode==1.3.6
yarl==1.9.2
youtube-dl==2021.12.17
