/* Sidebar CSS */

#sidebar {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #031a1f;
    padding-top: 15px;
}

#sidebar a:hover {
    color: rgb(184, 84, 3);
}

.docstitle {
    color: #5f8100;
    position: relative;
    display: block;
    font-size: 20px;
    margin-left: 16px;
    margin-bottom: 10px;
    text-decoration: none;
}

#sidebar a:not(.docstitle) {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 13px;
    display: block;
    color: #2087b6;
}

#sidebar a:not(.docstitle):hover {
    color: rgb(184, 84, 3);
}

.avatar {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 64px;
    border-style: solid;
    border-radius: 10000px;
    cursor: pointer;
}

#userinfo {
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #474747;
    border-radius: 5px;
    height: 0px;
    width: 0px;
    z-index: 3;
}

#userinfo h3 {
    font-size: 0px;
    font-family: sans-serif;
}

#userinfo button { /* fuck you flexbox */
    display: flex;
    position: relative;
    width: 175px;
    margin: 0 auto;
    height: 40px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    display: none;
    background-color: #674747;
}

#userinfo button:hover {
    transition: .3s ease;
    background-color: #974747;
}

#userinfo button img {
    position: relative;
    margin: 0;
    margin-left: 7px;
    float: left;
}

#userinfo button h3 {
    position: relative;
    margin: 0;
    float: left;
    top: 4px;
}

p {
    color: #AEC1C6;
    margin-left: 15px;
    margin-right: 10px;
    font-family: sans-serif;
}

body {
    background-color: #060e16;
    height: 95%;
    margin: 0px;
}

h1 {
    color:white;
    margin: 10px;
    position: relative;
    left: 190;
    width: 375;
    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 3px #AEC1C6;
}

h2 {
    color: white;
    margin: 5px;
    position: relative;
    left: 190;
    width: 500;
    font-family: sans-serif;
    margin-bottom: 20px;
}

h3 {
    color: white;
    position: relative;
    left: 15;
    font-family: sans-serif;
}

h4 {
    color:white;
    margin-left: 15px;
    font-family: sans-serif;
}

h5 {
    color:white;
    margin-left: 15px;
    font-family: sans-serif;
}

h6 {
    color:white;
    margin-left: 15px;
    font-family: sans-serif;
}

#LogIn {
    position: absolute;
    right: 40px;
    top: 25px;
    width: 75px;
    height: 50px;
    background-color: #0a4021;
    text-decoration: bold;
    border-style: solid;
    border-color: #a1de5f;
    border-radius: 2px;
    color: #a469b8;
    font-size: 15px;
}

#LogIn:hover {
    transition: .5s ease;
    cursor: pointer;
    background-color: #074722;
    color: #c902b6;
}