h1 {
    color:#edf2f4;
    margin: 10px;
    position: relative;
    left: 190;
    width: 375;
    font-family: Avenir,Helvetica,Arial,sans-serif;
    text-shadow: 1px 1px 3px #AEC1C6;
}

h2 {
    color: #edf2f4;
    margin: 5px;
    position: relative;
    left: 190;
    width: 500;
    font-family: sans-serif;
    margin-bottom: 20px;
}

h3 {
    color: #edf2f4;
    position: relative;
    left: 15;
    font-family: sans-serif;
}

p {
    color: #edf2f4;
    margin-left: 15px;
    margin-right: 10px;
    font-family: sans-serif;
}
.helpbox {
    border: 5px outset #017b91;
    border-color: #017b91;
    border-radius: 5px;
    border-width: thin;
    width: 70%;
    position: relative;
    line-height: 60px;
    text-indent: 20px;
    overflow: hidden;
    min-height: 60px;
    box-shadow: 5px 1px 5px #AEC1C6;
    margin: auto;
    cursor: pointer;
}
.helpbox:hover {
    transition: .25s ease;
    background-color: rgba(0, 0, 0, 0.377);
    /* border-color: #0037ec; */
}

.helpbox .dropDownIcon {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    transform: rotate(-90deg);
    transition: transform .2s ease; 
}

.container {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.box:first-child > span {
    margin-right: auto;
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-size: 25px;
    color: #edf2f4;
}

.box:last-child  > span { margin-left: auto;  }


.button {
    display: inline-flex;
    height: 50px;
    padding: 10px;
    background-color: #8d99ae;
    border-radius: 5px;
    overflow: hidden;
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.button:hover {
    background-color: #768091;
}
.button:active{
    background-color: #5f6774;
}
.button_text {
    display: inline-flex;
    align-items: center;
    padding: 0px 24px;
    color: #edf2f4;
    height: 100%;
}


.downDropDownIcon {
    /* look, I need a way to detect if each icon is rotated or not, 
    so i just toggle this class every time I change the rotation of the drop down icon. 
    i dont know how else to do it please help. this does nothing except being detected in jquery */
}


#navbar2 {
    background-color: #8d99ae;
    justify-content: space-between;
    display: flex;
    font-size: 18px;
    top: 0px;
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 27px;
}

#navbar2 a:hover {
    color: #ef233c;
}


#navbar2 a {
    padding: 0px 8px 6px 20px;
    text-decoration: none;
    font-size: 13px;
    display: block;
    color: #3b4249;
}

#navbar2 .active {
    color:#017b91;
}