body {
    text-align: center;
    padding: 400px 0;
    background: #060e16;
  }
    h1 {
      color: #1db954;
      font-family: sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
    }
    p {
      color: #404F5E;
      font-family: sans-serif;
      font-size:20px;
      margin: 0;
    }