* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
table {
  color: #edf2f4;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
caption {
  padding: 70px;
  font-size: 25px;
  font-weight: bold;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-size: 20px;
}

/* remove hover for header */
tr:not(:first-child):hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.small {
  width: 20px;
}

.center {
  text-align: center;
}

img {
  width: 50px;
  height: 50px;
  padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8d99ae;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #dbe1e2;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #46464b9c;
}

.buttons {
  display: block;
  width: 20%;
  height: 50px;
  background: #017b91;
  padding: 10px;
  text-align: center;
  border-radius: 1px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
