<!DOCTYPE html>
<html lang="en">
<head>
<meta property="og:title" content="Neutra" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://neutrabot.com" />
<meta property="og:image" content="https://cdn.discordapp.com/attachments/872338764276576266/927503071242747944/neutra.png" />
<meta property="og:description" content="Hello! I'm Neutra, and I specialize in tracking and moderation. I was designed to collect statistics on servers, users, messages, and more." />
<meta name="theme-color" content="#0A1822">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/neutra.ico') }}" id="favicon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
