{% extends 'base.html' %}

<!-- 475348957439! 068 -->
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cog.css') }}">
    {% endblock %}
    {% block body %}
    <div><button id="expand" class="exp-button" type="button">Expand All</button></div>
    <div><button id="collapse" class="exp-button" type="button">Collapse All</button></div>
    <script>
    $(function() {
        $('.helpbox').on('click', function() {
            if ($(this).children('.dropDownIcon').hasClass("downDropDownIcon")) {
                $(this).children('.dropDownIcon').stop().css({transform: "rotate(-90deg)"})
                .removeClass("downDropDownIcon");
                $(this).children('p').stop().slideUp(500);

            }
            else {
                $(this).children('.dropDownIcon').stop().css({transform: "rotate(0deg)"})
                .addClass("downDropDownIcon");
                $(this).children('p').stop().slideDown(500);
            }
        });
    });

    $(function() {
        $('#expand').on('click', function () {
            helpBoxes = $('body').children('.helpbox')
            for (i = 0; i < helpBoxes.length; i++) {
                $(helpBoxes[i]).children('p').stop().slideDown(500);
                $(helpBoxes[i]).children('.dropDownIcon').css({transform: "rotate(0deg)"})
                .addClass("downDropDownIcon");
            }
        });
    });

    $(function() {
        $('#collapse').on('click', function () {
            helpBoxes = $('body').children('.helpbox')
            for (i = 0; i < helpBoxes.length; i++) {
                $(helpBoxes[i]).children('p').stop().slideUp(500);
                $(helpBoxes[i]).children('.dropDownIcon').css({transform: "rotate(-90deg)"})
                .removeClass("downDropDownIcon");
            }
        });
    });
</script>
{% endblock%}