<!DOCTYPE:html>
<html>
    <head>
        <title>Neutra</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/neutra.ico') }}" id="favicon">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    </head>
    <body>
        <div id="sidebar">
            <a href="." class="docstitle">Neutra<br>Documentation</a>
            <a href="/docs/administration">Administration</a>
            <a href="/docs/automoderation">Automoderation</a>
            <a href="/docs/bot">Bot</a>
            <a href="/docs/conversion">Conversion</a>
            <a href="/docs/files">Files</a>
            <a href="/docs/info">Info</a>
            <a href="/docs/logging">Logging</a>
            <a href="/docs/moderation">Moderation</a>
            <a href="/docs/roles">Roles</a>
            <a href="/docs/server">Server</a>
            <a href="/docs/stats">Stats</a>
            <a href="/docs/time">Time</a>
            <a href="/docs/tracking">Tracking</a>
            <a href="/docs/users">Users</a>
            <a href="/docs/utils">Utilities</a>
            <a href="/docs/warn">Warns</a>
        </div>
        <div><button id="expand" class="exp-button" type="button">Expand All</button></div>
        <div><button id="collapse" class="exp-button" type="button">Collapse All</button></div>
    </body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <div><button id="expand" class="exp-button" type="button">Expand All</button></div>
    <div><button id="collapse" class="exp-button" type="button">Collapse All</button></div>
    <script>
    $(function() {
        $('.helpbox').on('click', function() {
            if ($(this).children('.dropDownIcon').hasClass("downDropDownIcon")) {
                $(this).children('.dropDownIcon').stop().css({transform: "rotate(-90deg)"})
                .removeClass("downDropDownIcon");
                $(this).children('p').stop().slideUp(500);

            }
            else {
                $(this).children('.dropDownIcon').stop().css({transform: "rotate(0deg)"})
                .addClass("downDropDownIcon");
                $(this).children('p').stop().slideDown(500);
            }
        });
    });

    $(function() {
        $('#expand').on('click', function () {
            helpBoxes = $('body').children('.helpbox')
            for (i = 0; i < helpBoxes.length; i++) {
                $(helpBoxes[i]).children('p').stop().slideDown(500);
                $(helpBoxes[i]).children('.dropDownIcon').css({transform: "rotate(0deg)"})
                .addClass("downDropDownIcon");
            }
        });
    });

    $(function() {
        $('#collapse').on('click', function () {
            helpBoxes = $('body').children('.helpbox')
            for (i = 0; i < helpBoxes.length; i++) {
                $(helpBoxes[i]).children('p').stop().slideUp(500);
                $(helpBoxes[i]).children('.dropDownIcon').css({transform: "rotate(-90deg)"})
                .removeClass("downDropDownIcon");
            }
        });
    });
</script>