{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
{% endblock %} {% block body %}
<body onload="update_values();">
  <h1>Neutra</h1>
  <p>Buggy Code Guaranteed</p>
  <div class="stats-block">
    <header>
      <h3>Live Statistics</h3>
      <hr />
    </header>
    <div class="card">
      <span>Bot Uptime</span>
      <br />
      <span id="uptime">?</span>
    </div>
    <div class="card">
      <span>Discord Servers</span>
      <br />
      <span id="servers">?</span>
    </div>
    <div class="card">
      <span>Discord Channels</span>
      <br />
      <span id="channels">?</span>
    </div>
    <div class="card">
      <span>Discord Users</span>
      <br />
      <span id="members">?</span>
    </div>
    <div class="card">
      <span>Session Commands</span>
      <br />
      <span id="commands">?</span>
    </div>
    <div class="card">
      <span>Session Messages</span>
      <br />
      <span id="messages">?</span>
    </div>
  </div>
</body>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/stats.js')}}"
></script>
{% endblock %}
