<!DOCTYPE html>
<html lang="en">
<head>
<meta property="og:title" content="Neutra" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://neutrabot.com" />
<meta property="og:image" content="https://cdn.discordapp.com/attachments/872338764276576266/927503071242747944/neutra.png" />
<meta property="og:description" content="Hello! I'm Neutra, and I specialize in tracking and moderation. I was designed to collect statistics on servers, users, messages, and more." />
<meta name="theme-color" content="#0A1822">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/neutra.ico') }}" id="favicon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% block head %}{% endblock %}
<title>Neutra</title>
</head>
<body>
<nav class="navbar">
<!-- LOGO -->
<div class="logo">Neutra</div>
<!-- NAVIGATION MENU -->
<ul class="nav-links">
<!-- USING CHECKBOX HACK -->
<input type="checkbox" id="checkbox_toggle" />
<label for="checkbox_toggle" class="hamburger">&#9776;</label>
<!-- NAVIGATION MENUS -->
<div class="menu">
<li><a href="/">Home</a></li>
<li><a href="/">About</a></li>
<li class="documentation">
<a href="/">Documentation</a>
<!-- DROPDOWN MENU -->
<ul class="dropdown">
<li><a href="/">Overview</a></li>
<li><a href="/">Administration</a></li>
<li><a href="/">Auto Moderation</a></li>
<li><a href="/">Configuration</a></li>
<li><a href="/">Files</a></li>
<li><a href="/">Help</a></li>
<li><a href="/">Information</a></li>
<li><a href="/">Logging</a></li>
<li><a href="/">Moderation</a></li>
<li><a href="/">Server</a></li>
<li><a href="/">Statistics</a></li>
<li><a href="/">Tasks</a></li>
<li><a href="/">Tracking</a></li>
<li><a href="/">Utility</a></li>
</ul>
</li>
<li><a href="/spotify">Spotify</a></li>
<li><a href="/">Contact</a></li>
</div>
</nav>
</ul>
{% block body %}{% endblock %}
</body>
</html>