{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/docs.css') }}"
/>
{% endblock %} {% block body %}
<body onload="update_values();">
  <h1>Neutra Stats</h1>
  <p>
    Members:
    <span id="members">??</span>
    Servers:
    <span id="servers">??</span>
    Messages:
    <span id="messages">??</span>
    Commands:
    <span id="commands">??</span>
  </p>
</body>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/stats.js')}}"
></script>
{% endblock %}
