



{% extends 'docs.html' %}
{% block title %}Neutra: Admin{% endblock %}
{% block body %}
{{ block.super }}
<h1>Admin</h1>
<h2>Module for server administration.</h2>
        <div class="helpbox">
            <h3>Addprefix: Add a custom server prefix.</h3>
            <p style="display:none">Usage: -addprefix<br>Aliases: -prefix, -setprefix<br>Output: Adds a custom prefix to your server.</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Clearprefix: Clear all custom server prefixes.</h3>
            <p style="display:none">Usage: -clearprefix<br>Aliases:<br>&nbsp;&nbsp;&nbsp;&nbsp;-clearprefixes, -removeprefixes, -remprefixes,<br>&nbsp;&nbsp;&nbsp;&nbsp;-rmprefixes, -purgeprefixes, -purgeprefix<br>Output: Clears all custom server prefixes<br>Notes:</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Disable: Disable a command.</h3>
            <p style="display:none">Disables the passed command or all commands in the passed cog (owner only).  Command and cog names are case-sensitive.</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Disableall: Disable all commands.</h3>
            <p style="display:none">Disables all enabled commands outside this module (admin-only).</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Disabledreact: React on disabled commands.</h3>
            <p style="display:none">Sets whether the bot reacts to disabled commands when attempted (admin-only).</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Enable: Enable a command.</h3>
            <p style="display:none">Enables the passed command or all commands in the passed cog (admin-only).  Command and cog names are case-sensitive.</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Enableall: Enable all commands</h3>
            <p style="display:none">Enables all disabled commands (admin-only).</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Ignore: Disallow users from using the bot.</h3>
            <p style="display:none">Usage: -ignore &lt;user&gt; [react] [reason]<br>Output: Will not process commands from the passed user.<br>Permission: Administrator<br>Notes:<br>&nbsp;&nbsp;&nbsp;&nbsp;Specify the "react" to choose whether or not to<br>&nbsp;&nbsp;&nbsp;&nbsp;react to the user's attempted commands.</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Isdisabled: Show the status of a command.</h3>
            <p style="display:none">Outputs whether the passed command - or all commands in a passed cog are disabled (admin-only).</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Leave: Have the bot leave the server.</h3>
            <p style="display:none">Usage: -leave<br>Aliases: -kill, -die<br>Output: Clears all stored server data and kicks me.<br>Notes:<br>&nbsp;&nbsp;&nbsp;&nbsp;You will receive confirmation, upon executing this<br>&nbsp;&nbsp;&nbsp;&nbsp;command, all emoji stats, messages, last seen data<br>&nbsp;&nbsp;&nbsp;&nbsp;roles, nicknames, and usernames will be deleted.</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Listdisabled: List disabled commands.</h3>
            <p style="display:none">Lists all disabled commands (admin-only).</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Massascify: Mass nickname users with odd names.</h3>
            <p style="display:none">Usage: -massascify<br>Permission: Manage Server<br>Output:<br>&nbsp;&nbsp;&nbsp;&nbsp;The bot will attempt to edit the<br>&nbsp;&nbsp;&nbsp;&nbsp;nicknames of all users with<br>&nbsp;&nbsp;&nbsp;&nbsp;special characters in their names.<br>Notes:<br>&nbsp;&nbsp;&nbsp;&nbsp;May take several minutes on larger servers</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Massban: Massban users matching a search.</h3>
            <p style="display:none">Usage: -massban &lt;arguments&gt;<br>Aliases: -multiban<br>Permissions: Manage Server, Ban Members<br>Output:<br>&nbsp;&nbsp;&nbsp;&nbsp;Massbans users matching searches<br>Notes:<br>&nbsp;&nbsp;&nbsp;&nbsp;Use -massban --help<br>&nbsp;&nbsp;&nbsp;&nbsp;to show all valid arguments.</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Massdehoist: Dehoist all server users.</h3>
            <p style="display:none">Usage: -massdehoist [symbol]<br>Permission: Manage Server<br>Output:<br>&nbsp;&nbsp;&nbsp;&nbsp;Re nicknames all users who hoist<br>&nbsp;&nbsp;&nbsp;&nbsp;their names with characters like "!"<br>Notes:<br>&nbsp;&nbsp;&nbsp;&nbsp;Pass an optional symbol to only nickname<br>&nbsp;&nbsp;&nbsp;&nbsp;users who's names begin with that symbol.<br>&nbsp;&nbsp;&nbsp;&nbsp;By default, all hoisting symbols will be<br>&nbsp;&nbsp;&nbsp;&nbsp;removed. If a user's name is made up entirely<br>&nbsp;&nbsp;&nbsp;&nbsp;of hoisting characters, their nickname will be<br>&nbsp;&nbsp;&nbsp;&nbsp;changed to "Dehoisted." The bot will inform you<br>&nbsp;&nbsp;&nbsp;&nbsp;of the number of users it was able to edit<br>&nbsp;&nbsp;&nbsp;&nbsp;and the number of users that have superior<br>&nbsp;&nbsp;&nbsp;&nbsp;permissions and are immune to nickname editing.</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Muterole: Setup server muting system.</h3>
            <p style="display:none">Usage:&nbsp;&nbsp;&nbsp;&nbsp;  -muterole &lt;role&gt;<br>Alias:&nbsp;&nbsp;&nbsp;&nbsp;  -setmuterole<br>Example:&nbsp;&nbsp;&nbsp;&nbsp;-muterole @Muted<br>Permission: Manage Server<br>Output:<br>&nbsp;&nbsp;&nbsp;&nbsp;This command will set a role of your choice as the<br>&nbsp;&nbsp;&nbsp;&nbsp;"Muted" role. The bot will also create a channel<br>&nbsp;&nbsp;&nbsp;&nbsp;named "muted" specifically for muted members.<br>Notes:<br>&nbsp;&nbsp;&nbsp;&nbsp;Channel "muted" may be deleted after command execution<br>&nbsp;&nbsp;&nbsp;&nbsp;if so desired.</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Prefixes: Show all server prefixes.</h3>
            <p style="display:none">Usage: -prefixes<br>Aliases:<br>&nbsp;&nbsp;&nbsp;&nbsp;-showprefix, -showprefixes, -listprefixes,<br>&nbsp;&nbsp;&nbsp;&nbsp;-listprefix, -displayprefixes, -displayprefix<br>Output: Shows all the current server prefixes</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Removeprefix: Remove a custom server prefix.</h3>
            <p style="display:none">Usage: -removeprefix<br>Aliases: -remprefix, -rmprefix<br>Output: Removes a custom prefix from your server.</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        
        <div class="helpbox">
            <h3>Unignore: Reallow users to use the bot.</h3>
            <p style="display:none">Usage: -unignore &lt;user&gt;<br>Alias: -listen<br>Output: Will delete the passed user from the ignored list<br>Permission: Administrator</p>
            <img class="dropDownIcon" src="{{ url_for('static', filename='assets/dropdown.png') }}">
        </div>
        {% endblock %}