
        {% extends 'ducky/cog_template.html' %}
        {% block title %}Snowbot: Warn{% endblock %}
        {% block body %}
        {% load static %}
        {{ block.super }}
        <h1>Warn</h1>
<h2>Manage the server warning system</h2>
        <div class="helpbox">
            <h3>Clearwarns: Clear a user's warnings</h3>
            <p style="display:none">Usage: -clearwarns [user]<br>Aliases: -deletewarnings, -removewarns, -removewarnings, -deletewarns, -clearwarnings<br>Permission: Kick Members<br>Output: Clears all warnings for that user</p>
            <img class="dropDownIcon" src="{% static 'ducky/dropdown.png' %}">
        </div>
        
        <div class="helpbox">
            <h3>Revokewarn: Revoke a warning from a user</h3>
            <p style="display:none">Usage: -revokewarn [user]<br>Aliases: -revokewarning, -undowarning, -undowarn<br>Permission: Kick Members<br>Output: Revokes a warning from a user</p>
            <img class="dropDownIcon" src="{% static 'ducky/dropdown.png' %}">
        </div>
        
        <div class="helpbox">
            <h3>Serverwarns: Display the server warnlist.</h3>
            <p style="display:none">Usage: -serverwarns<br>Alias: -warns<br>Output: Embed of all warned members in the server<br>Permission: Manage Messages</p>
            <img class="dropDownIcon" src="{% static 'ducky/dropdown.png' %}">
        </div>
        
        <div class="helpbox">
            <h3>Warn: Warn users with an optional reason.</h3>
            <p style="display:none">Usage: -warn [target] [target]... [reason]<br>Output: Warns members and DMs them the reason they were warned for<br>Permission: Kick Members<br>Notes:<br>&nbsp;&nbsp;&nbsp;&nbsp;Warnings do not automatically enforce punishments on members.<br>&nbsp;&nbsp;&nbsp;&nbsp;They only store a record of how many instances a user has misbehaved.</p>
            <img class="dropDownIcon" src="{% static 'ducky/dropdown.png' %}">
        </div>
        
        <div class="helpbox">
            <h3>Warncount: Count the warnings a user has.</h3>
            <p style="display:none">Usage: -warncount [member]<br>Alias: -listwarns<br>Output: Show how many warnings the member has on the server</p>
            <img class="dropDownIcon" src="{% static 'ducky/dropdown.png' %}">
        </div>
        {% endblock %}