{% extends "home.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spotify/tables.css') }}" />
{% endblock %}
</head>
{% block body %}
<table>
<caption>{{caption}}</caption>
<tbody>
{% if artist %}
{% for artist in data %}
<tr>
<td><img src="{{artist.image}}" width=100 height=100></td>
<td>{{artist.index}}. {{artist.name}}</td>
</tr>
{% endfor %}
{% elif genre %}
{% for genre in data %}
<tr>
<td>{{genre.index}}</td>
<td>{{genre.name}}</td>
<td>{{genre.percent}}</td>
</tr>
{% endfor %}
{% else %}
{% for track in data %}
<tr>
<td>{{track.index}}</td>
<td><img src="{{track.image}}" width=40 height=40></td>
<td>{{track.name}}</td>
<td>{{track.artist}}</td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>
{% endblock %}