{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spotify/tables.css') }}" />
{% endblock %}
</head>
{% block body %} 
<table>
<caption>
    {{caption}}</caption>
<tbody>
{% if artist %}
<th>Rank</th>
<th>Cover</th>
<th>Artist</th>
{% for artist in data %}
<tr>
<td class="small center">{{artist.index}}</td>
<td class="small center"><img src="{{artist.image}}" ></td>
<td>{{artist.name}}</td>
</tr>
{% endfor %}
{% elif genre %}
<th>Rank</th>
<th>Genre</th>
<th>Popularity</th>
{% for genre in data %}
<tr>
<td class="small center">{{genre.index}}</td>
<td>{{genre.name}}</td>
<td class="small">{{genre.percent}}</td>
</tr>
{% endfor %}
{% else %}
<th></th>
<th>Cover</th>
<th>Title</th>
<th>Artist</th>
<th>Duration</th>
{% for track in data %}
<tr>
<td class="small center">{{track.index}}</td>
<td class="small center"><img src="{{track.image}}"></td>
<td>{{track.name}}</td>
<td>{{track.artist}}</td>
<td class="small center">{{track.duration}}</td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>
{% endblock %}