{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spotify/tables.css') }}" />

{% endblock %}
</head>
{% block body %} 
<table>
<caption>
    {{caption[0]}}
    {% if caption[1] %}
    <div class="dropdown">
        <span class="time_range">{{caption[1]}}</span>
        <div class="dropdown-content">
            <a href="{{ request.path }}">four weeks</a>
            <a href="{{ request.path }}?time_range=medium_term">six months</a>
            <a href="{{ request.path }}?time_range=long_term">few years</a>
        </div>
    </div>
    {% endif %}
</caption>

<tbody>
{% if artist %}
<th>Rank</th>
<th>Cover</th>
<th>Artist</th>
{% for artist in data %}
<tr>
<td class="small center">{{artist.index}}</td>
<td class="small center"><img src="{{artist.image}}" ></td>
<td>{{artist.name}}</td>
</tr>
{% endfor %}
{% elif genre %}
<th>Rank</th>
<th>Genre</th>
<th>Popularity</th>
{% for genre in data %}
<tr>
<td class="small center">{{genre.index}}</td>
<td>{{genre.name}}</td>
<td class="small">{{genre.percent}}</td>
</tr>
{% endfor %}
{% else %}
<th></th>
<th>Cover</th>
<th>Title</th>
<th>Artist</th>
<th>Duration</th>
{% for track in data %}
<tr>
<td class="small center">{{track.index}}</td>
<td class="small center"><img src="{{track.image}}"></td>
<td>{{track.name}}</td>
<td>{{track.artist}}</td>
<td class="small center">{{track.duration}}</td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>
{% if track %}
<a class="buttons" href="{{ url_for('create_playlist', spotify_type='top')}}?time_range={{request.args.get('time_range', 'short_term')}}">Create Playlist</a>
{% else %}
<a class="buttons" href="{{ url_for('create_playlist', spotify_type='recent')}}">Create Playlist</a>
{% endif %}
<script src="{{ url_for('static', filename='js/spotify.js')}}" type="text/javascript"></script>
{% endblock %}